footer {
    background-image: linear-gradient(to left, #5e009b, #57008f, #4f0083, #480077, #41006b, #3c0161, #370157, #32024d, #2d0342, #280438, #22032e, #1e0025);
    width: 100vw;
    z-index: 1;
    text-align: center;

    h2 {
        padding: 1em;
    }
}