@for $i from 1 through 100 {
    .w-#{$i}percent {
        width: #{$i}+"%";
    }

    .h-#{$i}percent {
        height: #{$i}+"%";
    }

    .w-#{$i}vw {
        width: #{$i}+"vw";
    }

    .h-#{$i}vh {
        height: #{$i}+"vh";
    }

    .w-#{$i}px {
        width: #{$i}+"px";
    }

    .h-#{$i}px {
        height: #{$i}+"px";
    }

    .w-#{$i}em {
        width: calc(#{$i}em / 4);
    }

    .h-#{$i}em {
        height: calc(#{$i}em / 4);
    }

    .fs-#{$i}em {
        font-size: calc(#{$i}em / 4);
    }

}